.sticky {
    /* General */
    margin: 0 auto;
    padding: 8px 24px;
    width: 380px;
    /* Font */
    font-family: 'Nothing You Could Do', Arial;
    font-size: 1.4em;
    /* Border */
    border: 1px #E8Ds47 solid;
    /* Shadow */
    -moz-box-shadow: 0px 0px 6px 1px #333333;
    -webkit-box-shadow: 0px 0px 6px 1px #333333;
    box-shadow: 0px 0px 6px 1px #333333;
    /* Background */
    background: #fefdca;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fefdca 0%, #f7f381 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefdca), color-stop(100%, #f7f381));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fefdca 0%, #f7f381 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fefdca 0%, #f7f381 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #fefdca 0%, #f7f381 100%);
    /* IE10+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fefdca', endColorstr='#f7f381', GradientType=0);
    /* IE6-9 */
    background: linear-gradient(top, #fefdca 0%, #f7f381 100%);
    /* W3C; A catch-all for everything else */
    -o-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}
