<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">
    <title>ViKan</title>
    <!-- Bootstrap core CSS -->
    <link href="../dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
    <link href="../sticky.css" ref="stylesheet">
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <!-- <link href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'> -->
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../assets/js/ie-emulation-modes-warning.js"></script>
    <script id="hidden-template" type="text/x-custom-template">
        <div id="todo_template" class="wells sticky">
            <h3 style="color:black">Create mock project</h3>
            <div class="editable" style="color:black" data-type="text">some description</div>
            <div align="left">
                <input type="checkbox" aria-label="  ">Cras justo odio
                <span class="badge">14</span>
            </div>
            <div>
                <input type="checkbox">test kvm machine
                <span class="badge">2</span>
            </div>
        </div>
    </script>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>
    -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
</head>

<body ng-app="kanban">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img ng-src="https://avatars.githubusercontent.com/{{Username}}" style="width:50px;height:50px;" ng-show="Username" />
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project ViKan</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" placeholder="Username" class="form-control" ng-model="Username">
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success">Sign in</button>
                </form>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </nav>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container" ng-controller="task_ctrl">
        <!-- Example row of columns -->
        <div class="row">
            <div id="todo" class="col-md-4">
                <div>
                    <h2> TODO <div add-task-dir id="addTask" class="btn btn-primary"> + </div></h2>
                </div>
                <div id="{{ task._id.$oid.toString() }}" class="wells sticky draggable" style="background-color: #E8E523; height: auto" ng-repeat="task in todo_tasks" my-repeat-directive>
                    <h3 style="color:black">{{ task.title }}</h3>
                    <div class="editable" style="color:black" data-type="text">{{ task.description }}</div>
                    <div style="color:black">{{ task.owner }}</div>
                    <div align="left">
                        <input type="checkbox" aria-label="  ">Cras justo odio
                        <span class="badge">14</span>
                    </div>
                    <div>
                        <input type="checkbox">test kvm machine
                        <span class="badge">2</span>
                    </div>
                </div>
                <div id="gallery" class="wells sticky draggable" style="background-color: #E8E523; height: auto">
                    <h3 style="color:black">Create mock project</h3>
                    <div class="editable" style="color:black" data-type="text">some description</div>
                    <div align="left">
                        <input type="checkbox" aria-label="  ">Cras justo odio
                        <span class="badge">14</span>
                    </div>
                    <div>
                        <input type="checkbox">test kvm machine
                        <span class="badge">2</span>
                    </div>
                </div>
                <br>
            </div>
            <div id="doing" class="col-md-4" style="padding-right: 25px;">
                <h2> Doing </h2>
                <div id="first_doing" class="wells sticky">
                    <h3 style="color:black">solve database connection problem</h3>
                    <div style="color:black">some description</div>
                    <div align="left">
                        <input type="checkbox" aria-label="  ">Cras justo odio
                        <span class="badge">14</span>
                    </div>
                    <div>
                        <input type="checkbox">test kvm machine
                        <span class="badge">2</span>
                    </div>
                    <div class="actions">
                        <span class="glyphicon glyphicon-edit"></span>
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                    </div>
                </div>
            </div>
            <div id="done" class="col-md-4" style="padding-right: 5px;">
                <h2> Done </h2>
                <div id="done_1" class="wells sticky_done draggable" style="height:auto">
                    <h3 style="color:black">Create mock project</h3>
                    <div style="color:black">some description</div>
                    <div align="left">
                        <input type="checkbox" aria-label="  ">Cras justo odio
                        <span class="badge">14</span>
                    </div>
                    <div>
                        <input type="checkbox">test kvm machine
                        <span class="badge">2</span>
                    </div>
                    <div class="actions">
                        <span class="glyphicon glyphicon-trash"></span>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <footer>
            <p>&copy; ViKan 2015</p>
        </footer>
    </div>
    <script src="db_interface.js"></script>
    <!-- /container -->
    <!-- <div class="jumbotron">
        <div class="container">
            <h1>Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div> -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="../assets/js/vendor/jquery.min.js"><\/script>')
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.2.1/jquery-migrate.min.js"></script>
    <script src="../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript" src="drag.js"></script>
    <script type="text/javascript">
    $(function() {
        var set_editable = function() {
            $(".draggable").draggable();
            $.fn.editable.defaults.mode = 'inline';
            $('.editable').editable();
        };
        set_editable();
    });
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <!--<script type="text/javascript" src="../app.js"></script>-->
</body>

</html>
